Package: com.iosrxwy.fanqiehehe
Name: fanqiehehe
Version: 0.2-1
Description: 番茄小说、番茄畅听、红果短剧解锁会员去广告,隐藏底栏福利按钮
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Priority: optional
Author: iosrxwy
Architecture: iphoneos-arm
